[submodule "libs/imgui-node-editor"]
	path = libs/imgui-node-editor
	url = https://github.com/htamas1210/imgui-node-editor.git
	branch = develop
[submodule "libs/SakuraCore"]
	path = libs/SakuraCore
	url = https://spaceglitter.spacestation.hu/htamas1210/SakuraCore.git
